.row
  .col-md-4
    -# = image_tag @play.image.variant(combine_options: { gravity: 'Center', crop: '475x325+0+0' }), class: "play-show"
    = image_tag @play.image.variant(resize: '475x325+0+0' ), class: "play-show"
  .col-md-8
    .play-info
      %h2.play-title= @play.title
      %h3.play-director
        %span
        %em From
        = @play.director
      %h4.play-director= @play.category.name
      %p.play-desc= @play.description

.row
  .col-md-12
    .reviews
      %h1 Reviews
      = render @play.reviews
      %div= link_to "Add Reviews", new_play_review_path(@play), class: 'btn-custom'

.links.btn-group
  - if user_signed_in?
    - if @play.user_id == current_user.id
      = link_to 'Back', root_path, class: 'btn btn-default'
      = link_to 'Edit', edit_play_path(@play), class: 'btn btn-info'
      = link_to 'Delete', play_path(@play), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure' }

:javascript
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
