%h2= @play.title
%h3= @play.director
%h4= @play.category.name
%p= @play.description

.links.btn-group
  - if user_signed_in?
    - if @play.user_id == current_user.id
      = link_to 'Back', root_path, class: 'btn btn-default'
      = link_to 'Edit', edit_play_path(@play), class: 'btn btn-info'
      = link_to 'Delete', play_path(@play), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure' }